.report-button1{
    float: right;
    margin: -20px 72px 0px 0px;
    z-index: 11111;
    right: 0;
    position: absolute;
  }
  .graph-border canvas{
    border: 1px solid #cecece !important;
  
  }
  .border14{
    border: 1px solid #cecece;
    padding: 0px 7px 7px;
  }
  