<!-- @Hack isLearnathon -->
<!-- <div>
    <div routerLink="learnathon" class="" tabindex="0">
      <div class="">
        <p class="header font-weight-bold mb-8">Learnathon - Custom Form</p>
        <p>
          <span class="mr-24">
            <span>NULP for building India's largest urban learning community and to curate and collate the best content on the platform. </span>
          </span>
        </p>
      </div>
        <button class="sb-btn sb-btn-primary sb-btn-normal sb-btn-border">Upload Content</button>
    </div>
  </div>   -->

  

      <div class="sbt-page-content-area">
          <app-list-uploadcontent-learnathon></app-list-uploadcontent-learnathon>
      </div>
<!-- @Hack isLearnathon -->