<div class="ui container">
  <div class="ui stackable grid mt-30">
      <div class="twelve wide column workspacesegment">

              <div class="ui bottom attached segment">

                  <div class="ui container">
                    <div class="ui stackable grid mt-30">
                    <div class="column"  style="width:70%"  [ngClass]="{'graph-border' : B1_Piechart}">
                      <canvas id="B1_Canvas2"  #mychart (click)="B1_Chart_showData($event)">{{ B1_Piechart }}</canvas>
                    </div>
                    <div class="column"  style="width:70%"  [ngClass]="{'graph-border' : B2_Piechart}">
                      <canvas id="B2_Canvas2"  #mychart (click)="B2_Chart_showData($event)">{{ B2_Piechart }} </canvas>
                     </div>

                  </div>

                  </div>

                  <div class="ui container">
                    <div class="ui stackable grid mt-30">
                      <div class="ui container"  *ngIf = 'Table_Data_List.length > 0'>
                        <p-table #dt [value]="Table_Data_List" [columns]="colsUser" [paginator]="true" [rows]="10" [resizableColumns]="true">
                          <ng-template pTemplate="caption">
                            <tr>
                            <td>
                            <div  class="ui small left icon input align-left">
                              <b>{{popupTitle}}</b>
                            </div>
                            </td>
                            </tr>
                          </ng-template>

                          <ng-template pTemplate="header" let-columns>
                            <tr>

                              <th *ngFor="let col of columns" pResizableColumn [style.width]="col.width">
                                  {{col.header}}
                              </th>
                            </tr>
                          </ng-template>



                          <ng-template pTemplate="body" let-Table_Data_List let-columns="columns" >
                            <tr>
                              <td *ngFor="let col of columns ;" class="ui-resizable-column">
                                  {{Table_Data_List[col.field]}}
                              </td>
                          </tr>
                          </ng-template>
                        </p-table>
                      </div>
                  </div>
                  </div>
                   </div>
        </div>
      </div>
  </div>







