<div *ngIf="showFooter">
  <div class="sb-foot-separate"></div>
  <footer class="footer old-footer" #footerFix *ngIf="!layoutConfiguration" [ngClass]="{'player-fullscreen-footer': isFullScreenView}">
    <footer>
      <div class="ui grid sm-text-center px-74">
          <div class="row py-40">
              <div class="twelve wide tablet column six wide computer">
                  <h4 class="fs-0-925">Important Links</h4>
                  <div class="ui list">
                      <a href="https://niua.org/cdg/" target="_blank" class="item fs-0-925 text-white">Centre for
                          Digital Governance</a>
                      <a href="https://nudm.mohua.gov.in/" target="_blank" class="item fs-0-925 text-white">National
                          Urban Digital Mission</a>
                  </div>
                  <div class="sb-social sm-d-none">
                      <a href="https://www.linkedin.com/school/national-institute-of-urban-affairs/"
                          target="_blank"><i class="icon linkedin"></i></a>
                      <a href="https://www.facebook.com/profile.php?id=100068273286928" target="_blank"><i
                              class="icon facebook"></i></a>
                      <a href="https://twitter.com/NIUA_India" target="_blank"><i class="icon twitter"></i></a>
                  </div>
              </div>
              <div class="twelve wide tablet column six wide computer">
                  <h4 class="fs-0-925 font-weight-bold sb-mb-10">Nodal Ministry:</h4>

                  <p class="fs-0-925 mt-15">Ministry of Housing and Urban Affairs, Government of India</p>
                  <p class="fs-0-925">Nirman Bhawan, New Delhi- 110001, INDIA</p>
                  <h4 class="fs-0-925 font-weight-bold pt-18">Anchor Institute:</h4>

                  <p class="fs-0-925 mt-0 sb-mb-10">National Institute of Urban Affairs</p>

                  <p class="fs-0-925"> 1st Floor, Core 4B, India Habitat Centre, Lodhi Road, New Delhi - 110003, INDIA
                  </p>
                  <p class="fs-0-925">Phone: (+91 11) 24617517, 24617543, 24617595</p>
                  <!-- <div class="sb-social sm-position">
                      <a href="https://www.linkedin.com/school/national-institute-of-urban-affairs/"
                          target="_blank"><i class="icon linkedin"></i></a>
                      <a href="https://www.facebook.com/profile.php?id=100068273286928" target="_blank"><i
                              class="icon facebook"></i></a>
                      <a href="https://twitter.com/NIUA_India" target="_blank"><i class="icon twitter"></i></a>
                  </div> -->
              </div>
          </div>
      </div>
  </footer>
    <!-- <div  class="ui container">
      <div class="ui grid stackable">
        <div class="four wide column footerMenu mr-auto"> -->
          <!-- default links if tenant settings is not available -->
          <!-- <ul class="p-0 m-0" *ngIf="!(tenantFooter | keyvalue)?.length">
            <li class="mb-16">
              <a appTelemetryInteract [telemetryInteractEdata]="setTelemetryInteractEdata('help-center')"
                href="{{defaultFooterConfig.helpCenterLink}}">
                {{resourceService.frmelmnts?.lnk?.footerHelpCenter}}
              </a>
            </li>
            <li>
              <label class="d-block mb-0">
                {{resourceService.frmelmnts?.lnk?.footerContact}}
              </label>
              <a appTelemetryInteract [telemetryInteractEdata]="setTelemetryInteractEdata('fresh-desk')"
                class="d-block mb-0" href="mailto:{{defaultFooterConfig.helpDeskEmail}}">
                {{defaultFooterConfig.helpDeskEmail}}
              </a>
            </li>
          </ul> -->

          <!-- <ul class="p-0 m-0" *ngIf="(tenantFooter | keyvalue)?.length">
            <li class="mb-16" *ngIf="tenantFooter?.helpCenterLink">
              <a appTelemetryInteract [telemetryInteractEdata]="setTelemetryInteractEdata('help-center')"
                href="{{tenantFooter?.helpCenterLink}}">
                {{resourceService.frmelmnts?.lnk?.footerHelpCenter}}
              </a>
            </li>
           <li *ngIf="tenantFooter?.helpDeskEmail">
              <label class="d-block mb-0">
                {{resourceService.frmelmnts?.lnk?.footerContact}}
              </label>
              <a appTelemetryInteract [telemetryInteractEdata]="setTelemetryInteractEdata('fresh-desk')" class="d-block mb-0"
                href="mailto:{{tenantFooter?.helpDeskEmail}}">{{tenantFooter?.helpDeskEmail}}</a>
            </li>
          </ul>-->


        <!-- </div> -->

        <!-- <div class="download-mobile-app-logo p-16">
            <div class="mobile-circles">
              <div class="big-box border-round border-r50"></div>
              <div class="oval-box border-round ml-24"></div>
              <div class="small-box border-round border-r50 ml-16 mr-8"></div>
              <div class="small-box border-round border-r50"></div>
            </div>
            <label
              class="d-block text-center font-weight-bold"></label>
            <a class="d-block app-download" (click)="redirectToMobileApp()" tabindex="0">
              <img class="playStore-img cursor-pointer" src="assets/images/google_playstore.png"
                alt="{{ resourceService?.frmelmnts?.lbl?.altGoogleplay }}">
            </a>
            <p class="d-block pt-10">{{resourceService.frmelmnts?.lbl?.getUnlimitedAccess}}</p>
          </div> -->
       <!-- <div class="four wide column contantDetails">
          <label class="d-flex flex-w-wrap mb-16 flex-jc-center">
            <ul class="d-flex flex-ai-center fsmall sb-color-white mb-0 mobile only pl-0">
              <li class="mb-0"><a href="/screenreaderaccess.html" class="cursor-pointer sb-color-white">Screen Reader Access</a></li><li class="mx-4 mb-0">|</li>
              <li class="mb-0"><a href="/sitemap.html" class="cursor-pointer sb-color-white">Sitemap</a></li><li class="mx-4 mb-0">|</li>
            </ul>
            <a appTelemetryInteract [telemetryInteractEdata]="setTelemetryInteractEdata('t&c')" href="/term-of-use.html">
              {{resourceService.frmelmnts?.lnk?.footerTnC}}
            </a>
            <span>| &copy; {{date | date:'yyyy'}}</span>
          </label>
          <label class="sb-footer-license">
           <span><img alt="{{resourceService.frmelmnts?.lbl?.CCbyLicense}}" src="assets/images/CCby.svg">&nbsp;&nbsp;{{resourceService.frmelmnts?.lbl?.CCbyLicense}}</span>
          </label>
        </div> -->
      <!-- </div>
    </div> -->
  </footer>
  <footer class="new-layout-footer" #footerFix *ngIf="layoutConfiguration" [ngClass]="{'player-fullscreen-footer': isFullScreenView}">
    <footer>
        <div class="ui grid sm-text-center px-74">
            <div class="row py-40">
                <div class="twelve wide tablet column six wide computer">
                    <h4 class="fs-0-925">Important Links</h4>
                    <div class="ui list">
                        <a href="https://niua.org/cdg/" target="_blank" class="item fs-0-925 text-white">Centre for
                            Digital Governance</a>
                        <a href="https://nudm.mohua.gov.in/" target="_blank" class="item fs-0-925 text-white">National
                            Urban Digital Mission</a>
                    </div>
                    <div class="sb-social sm-d-none">
                        <a href="https://www.linkedin.com/school/national-institute-of-urban-affairs/"
                            target="_blank"><i class="icon linkedin"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100068273286928" target="_blank"><i
                                class="icon facebook"></i></a>
                        <a href="https://twitter.com/NIUA_India" target="_blank"><i class="icon twitter"></i></a>
                    </div>
                </div>
                <div class="twelve wide tablet column six wide computer">
                    <h4 class="fs-0-925 font-weight-bold sb-mb-10">Nodal Ministry:</h4>

                    <p class="fs-0-925 mt-15">Ministry of Housing and Urban Affairs, Government of India</p>
                    <p class="fs-0-925">Nirman Bhawan, New Delhi- 110001, INDIA</p>
                    <h4 class="fs-0-925 font-weight-bold pt-18">Anchor Institute:</h4>

                    <p class="fs-0-925 mt-0 sb-mb-10">National Institute of Urban Affairs</p>

                    <p class="fs-0-925"> 1st Floor, Core 4B, India Habitat Centre, Lodhi Road, New Delhi - 110003, INDIA
                    </p>
                    <p class="fs-0-925">Phone: (+91 11) 24617517, 24617543, 24617595</p>
                    <!-- <div class="sb-social sm-position">
                        <a href="https://www.linkedin.com/school/national-institute-of-urban-affairs/"
                            target="_blank"><i class="icon linkedin"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100068273286928" target="_blank"><i
                                class="icon facebook"></i></a>
                        <a href="https://twitter.com/NIUA_India" target="_blank"><i class="icon twitter"></i></a>
                    </div> -->
                </div>
            </div>
        </div>
    </footer>
  </footer>
  </div>

  <extension-point *appDesktopOnly [name]="'content-manager'"></extension-point>
