<div class="ui container">
    <form *ngIf="!showLoader" class="ui form" id="bulkUsers" [formGroup]="uploadUserForm">
        <div class="ui grid">
            <div class="three wide column">
                <div class="required field">
                    <label>Member Organization</label>
                    <div class="field">
                        <sui-select [isSearchable]="false" class="selection able" formControlName="orgId"
                            [options]="organizationsList" (ngModelChange)="validateOrg()" labelField="orgName"
                            valueField="organisationId" name="orgId" placeholder="Select Organization">
                            <sui-select-option *ngFor="let orgDetail of organizationsList" [value]="orgDetail">
                            </sui-select-option>
                        </sui-select>
                        <span style="color: #f44336;" *ngIf="showOrgError">Please select the member organization</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <div class="sb-btn mt-8 sb-bulk-upload-btn">
        <input type="file" #inputbtn class="sb-btn-upload" name="file" onclick="this.value = null"
            accept=".csv" (change)="fileChanged($event)" />
    </div>
    <div *ngIf="file">
        <span> {{resourceService?.frmelmnts?.lbl?.upldfile }} :</span>
        <label>{{file.name}}</label>
    </div>

    <div *ngIf="processId" style="color:red">
        <h5>{{resourceService?.frmelmnts?.lbl?.processid}}: {{processId}}</h5>
        <p>{{resourceService?.frmelmnts?.instn?.t0012}}</p>
    </div>

    <div *ngIf="showLoader">
        <app-loader [data]="header"></app-loader>
    </div>

    <div *ngIf="resourceService.frmelmnts && !showLoader" class="ui info message">
        <div class="header">
            {{resourceService?.frmelmnts?.scttl?.instructions}}
        </div>
        <div>{{resourceService?.frmelmnts?.instn?.t0098}}</div>
        <ol class="ui list">
            <li *ngFor="let instn of userUploadInstructions">{{instn.instructions}}
              <ol *ngIf="instn.subinstructions">
                <li *ngFor="let subinstn of instn.subinstructions">{{subinstn.instructions}}</li>
              </ol>
            </li>
        </ol>
        <!-- <div>{{resourceService?.frmelmnts?.instn?.t0106}}</div> -->
        <div>Note: All other columns in the CSV file are optional</div>
    </div>

    <div class="mt-40">
        <button [ngClass]="{'sb-btn-disabled' : !activateUpload}" 
            [disabled]="!activateUpload" class="sb-btn sb-btn-normal sb-btn-primary" (click)="uploadUsersCSV()">
            {{resourceService?.frmelmnts?.instn?.t0016}}
        </button>

        <button (click)="downloadSampleCSV()" class="sb-btn sb-btn-normal sb-btn-primary ml-10">
            {{resourceService?.frmelmnts?.btn?.smplcsv}}
        </button>
    
        <button style="margin-left: 10px;" (click)="chooseMenu('menu3','dashBoard/addusess/bulkUpload/checkStatus')"
            class="sb-btn sb-btn-normal sb-btn-success mr-auto"> 
            {{resourceService?.frmelmnts?.lbl?.chkuploadsts}}
        </button>
    </div>    
</div>

<sui-modal *ngIf="modalName === 'error'" [mustScroll]="true" [isClosable]="false" [transitionDuration]="0"
    [size]="'normal'" class="sb-modal sb-error" appBodyScroll (dismissed)="redirect(); modal.deny();" #errormodal>
    <i class="close icon" (click)="closeBulkUploadError()"></i>
    <div class="sb-modal-header">
        {{resourceService?.frmelmnts?.lbl?.errorinupload}}
    </div>
    <div class="sb-modal-content">
        <div class="ui error message bulkupload-error">
            <div class="header">
                {{resourceService?.frmelmnts?.scttl?.error}}
            </div>
            <div *ngFor="let er of errors">
                <span> {{er}}</span>
            </div>
            <div id="errorDiv" class="errorDiv">
                <textarea id="errorTextArea" class="errorTextArea"></textarea>
            </div>
        </div>
        <div>
            <span> {{resourceService?.frmelmnts?.lbl?.errorMsg }}</span>
        </div>
    </div>
    <div class="sb-modal-actions">
        <button [ngClass]="{'sb-btn-disabled' : processId}"
            [disabled]="processId" class="sb-btn sb-btn-normal sb-btn-primary" (click)="copyToClipboard()">
            {{resourceService?.frmelmnts?.btn?.copytoclipboard}}
        </button>
    </div>
</sui-modal>