.mar-40{
    margin: 34px 0px 0px 0px !important;
  }

  .font-align{
    padding-left: 15px;
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: initial;
  }
  .ui-calendar-w-btn{
    display: flex !important;
  }
  .ui-calendar-button{
      height: inherit !important;
  }
  .mt-4{
    margin-top: 4px;
  }
  .v-align-middle{
    vertical-align: middle;
  }
  .button-right{
    float: right;
    margin-top: -61px;
  }
  .graph-border canvas{
    border: 1px solid #cecece!important
  }
  // .export-btns{
  //   margin: 0 0 0 564px;
  // }
