.align-center {
    text-align: center;
}
.sb-tab.item{
    width: 174px;
    font-size: 14px;
    line-height: 1.8;
    padding: 10px 0 10px 22px !important;
}
.ui-calendar-w-btn{
    display: flex !important;
}
.ui-calendar-button{
    height: inherit !important;
}
