body .ui-datepicker table td {
    padding: 0.2em !important;
}
body .ui-button {
    font-size: 12px !important;
}
.my-13 {
    margin-top: 13px !important;
}
::placeholder {
    font-size: 12px;
  }
  .grey-border {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
  }
  .mar-31 button{
    margin: 41px 0px 0px 0px !important;
  }
  .marg-left{
    float:left;
  }