/* @media screen and (max-width:600px){
.col-xxs-3{width:25% !important; padding-left:15px; padding-right:15px; position:relative; float:left;}
.col-xxs-4{width:33.33% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
.col-xxs-6{width:50% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
.col-xxs-9{width:75% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
.col-xxs-12{width:100% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
.sites-list{flex-wrap:wrap;}
.site-item{width:33.33%;}
.site-1{width:70%;}
.site-2{width:30%;}
.site-3{width:70%;}
.site-4{width:30%;}
}
@media screen and (max-width:480px){
.col-xxxs-1{width:8.33% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
.col-xxxs-2{width:16.66% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
.col-xxxs-3{width:25% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
.col-xxxs-4{width:33.33% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
.col-xxxs-6{width:50% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
.col-xxxs-10{width:83.34% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
.col-xxxs-11{width:91.64% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
.col-xxxs-12{width:100% !important; padding-left:15px; padding-right:15px; position:relative;float:left;}
footer{text-align:center;}
.site-item{width:50%;}
.news-item h4{font-size:16px;}
.site-1{width:70%;}
.site-2{width:30%;}
.site-3{width:100%;}
.site-4{width:100%;}

}

body{
	font-family: 'Open Sans', sans-serif;
}
.margint5{
	margin-top:5px;
}
.padding10{
	padding:10px;
}
video{
	width:100%;
}
img{
	max-width:100%;
}
.responsive-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
/*	height: 0;
}
.responsive-video iframe ,
.responsive-video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius:5px;
}

a,
a:hover,
a:active,
a:focus,
a.no-underline,
a.no-underline:hover,
a.no-underline:active,
a.no-underline:focus{
	text-decoration:none;
}
a.white{
    color: #fff;
    border: 2px solid #fff;
}
a.white:hover,
a.white:active,
a.white:focus{
	color: #333;
    border: 2px solid #FBBC05;
    background-color:#FBBC05;
    text-shadow: none;
}
a.orange{
	color: #333;
    border: 2px solid #FBBC05;
    background-color:#FBBC05;
    text-shadow: none;
}

a.orange:hover,
a.orange:active,
a.orange:focus{
    color: #fff;
    border: 2px solid #fff;
    background-color:transparent
}
.transition{
	transition: all 300ms;
}
.text-brown{
	color:#ed653e;
}
.text-white{
	color:#fff;
}
.text-blue{
	color: #012b54;
}
.text-gray{
	color: #777;
}
.bg-blue{
	background: #012b54;
}
.bg-gray{
	background: #555;
}
.bg-white{
	background: #fff;
}
.header {
    padding-top: 15px;
    padding-bottom: 15px;
}
h1.logo {
    margin: 0;
    padding: 0;
}
h1.logo img{ 
	margin:0 15px 0 0;
	max-height:50px;
}
.h2, h2 {
    font-size: 24px;
    font-weight: 600;
}
.navbar-brand{
	font-size: 13px;
    font-weight: 600;
    color: #fff;
    padding: 5px 20px;
    line-height: 20px;
}
.nav>li>a{
	font-size: 13px;
    font-weight: 600;
    color: #333;
    transition: color 0.25s ease-out;
    text-decoration: none;
    padding: 13px 18px;
    display: block;
    line-height: 20px;
}
.nav>li>a:focus,
.nav>li>a:hover{
    text-decoration: none;
    background-color: transparent;
    color: #f47f62;
}
.nav>li>a.login{
	background-color: #019648
}
.nav>li>a.login:hover,
.nav>li>a.login:active,
.nav>li>a.login:focus{
	background-color: #f47f62;
	color:#fff;
}
.navbar-toggle{
	margin:0;
	padding:13px 20px;
	color:#333;
}
.navbar-brand{
	height:auto;
}
.navbar-collapse.in{
    z-index: 2;
}
.nav-fix{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:99;
}
#nav-bar{
	box-shadow: 0 1px 0 #ccc;
}
.menu{
	margin-top: 20px;
}
.nav-fix .menu{
	margin-top: 5px;
}
.hash-fix:before{
	display: block; 
	content: " "; 
	visibility: hidden;
	margin-top:-55px;
	height:55px;
}
.header-bg{
	background:url(../images/header-bg.png) 0 0 no-repeat;
	background-size: cover;
}
.top-space{
	margin-top:20px;
}
.gray-scale{
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}
.slogan span{
	font-size:14px;
	font-weight:600;
	color:#ed653e;
}
.slogan strong{
	color:#fff;
	font-size: 28px;
    line-height: 36px;
}
.readMore,
.readLess{
	cursor:pointer;
}

.owl-carousel .owl-item .quote-personImg img{
	border-radius:50%;
	width: 150px;
    height: 150px;
    margin: 0 auto;
}
.quote{
	text-align:center;
	padding:30px 0;
}
.quote-text{
	font-size: 14px;
	margin: 20px;
	position:relative;
	padding:5px;
}
.quote-text:before,
.quote-text:after{
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position:absolute;
    top:-5px;
}
.quote-text:before{
	content: "\f10d";
	left:-15px;
}
.quote-text:after{
	content: "\f10e";
	right:-15px;
}
.quote-personName{
	font-size:20px;
}
.quote-personPosition{
	font-weight: 500
}
.owl-prev,
.owl-next{
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	font-size:42px;
	color:#777;
}
.owl-prev{
	left:5px;
	right:auto;
}
.owl-next{
	right:5px;
	left:auto;
}
.owl-dots{
	display:flex;
	justify-content:center;
}
.owl-dot{
	height:8px;
	width:8px;
	border-radius:50%;
	border:1px solid #ccc;
	margin:3px;
	background-color:rgba(0,0,0,0.7);
}
.owl-dot.active{
	border:1px solid #eee;
	background-color:#eee;
}
.owl-nav div{
	padding:5px;
}
/*Journey Slideshow*/
/*.milestone{
	position:relative;
}
.milestone-details{
	background-color:rgba(0,0,0,0.7);
	padding:20px 30px;
	color:#fff;
}
.milestone-date{
	font-weight:600;
	margin-bottom:10px;
	font-size: 16px;
}
/*Slideshow*/
./*slide{
	position:relative;
}
.slide-details{
	padding:0;
	color:#333;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-weight:500;
	font-size:15px;
	text-shadow:1px 1px 1px #000;
	width:100%;
}

.slide-highlights{
	font-weight:600;
	font-size:16px;
}
.slide-cover{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.slide-grad{
	background-color:rgba(0,0,0,0.6);
}
.slide-actions{
	text-transform:uppercase;
}
.slide-details a{
	padding: 5px 10px;
    line-height: 1;
    font-size: 15px;
    color:#333;
	border: 2px solid #333;
	display:inline-block;
}
.slide-desc{
	font-weight:100;
	font-size:13px;
}
.slideshow-carousel .owl-prev,
.slideshow-carousel .owl-next{
	color: #fff;
	text-shadow:0 0 1px #ccc;
}
.slide-icons{
	display:flex;
	justify-content:center;
}
.slide-icons img{
	width:auto !important;
	height: 50px;
	margin:5px 15px;
}
.slide-details h2{
	font-weight:300;
	font-size:14px;
	line-height:1.1;
	margin:0;
}
.slide-details h2 strong{
	font-weight: 500;
	font-size: 14px;
}
/* Vision Slideshow */
/*.vision-carousel .owl-prev, 
.vision-carousel .owl-next{
	color: #fff;
	text-shadow:0 0 1px #ccc;
}
.champions img{
	max-height:80px;
}
.sites-list{
	display: flex;
    justify-content: space-around;
    align-items: center;
}
.site-item{
	padding:10px;
	text-align:center;
}
.partner img{height:60px;margin:10px 30px; width:auto !important;}
footer a:hover,
footer a:active,
footer a:focus,
footer a:visited{
	color:#fff;
	text-decoration:underline;
}
address{margin:0;}
.alpha-list{
	list-style-type: lower-alpha;
}
.lower-roman{
	list-style-type: lower-roman;
}
.list-circle{
	list-style-type: circle;
}
/*Above 768px*/
/*@media only screen and (min-width: 768px){
	.owl-dots{
		position:absolute;
		bottom:20px;
		right:30px;
	}
	.owl-dot{
		height:8px;
		width:8px;
		border-radius:50%;
		border:1px solid #fff;
		margin:3px;
		background-color:transparent;
		box-shadow: 0 0 2px #888;
	}
	.owl-dot.active{
		border:1px solid #fff;
		background-color:#fff;
	}
	.milestone-details{
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		background-color:rgba(0,0,0,0.7);
		padding:20px 30px;
		color:#fff;
	}
	.slide-details{
		font-size:22px;
		text-shadow:1px 1px 1px #000;
		width:90%;
		padding:20px 30px;
	}
	.slide-highlights{
		font-size:34px;
	}
	.slide-actions{
		padding:10px;
		margin:10px 0;
	}
	.slide-icons img{
		height: 80px;
		margin:5px 20px;
	}
	.slide-details h2{
		font-weight:300;
		font-size:34px;
		line-height:1.5;
	}
	.slide-details h2 strong{
		font-weight: 500;
		font-size: 30px;
	}
	.slide-details a{
		padding: 5px 10px;
		margin:0 10px;
		font-size: 18px;
	}
	.slide-desc{
		margin:10px 0;
		font-size:22px;
	}
	.slide-details{
		transform:translate(-50%,-60%);
	}
	.slide-actions{
		padding:10px 0;
	}
}
/*Above 992px*/
/*@media only screen and (min-width: 992px){
	.header-bg {
		background-size:100%;
	}
	.top-space{
		margin-top:40px;
	}	
	.slogan span{
		font-size:18px;
	}
	.slogan strong{
		color:#fff;
		font-size:40px;
		line-height: 50px;
	}
	.quote{
		padding:30px;
	}
	.quote-text{
		font-size: 18px;
		margin: 20px 70px;
		position:relative;
	}
	.owl-nav{
		top:50%;
	}
	.site-1{
		max-width: 230px;
	}
	h1.logo img{ 
		margin:0 20px 0 0;
		max-height:75px;
	}
	.nav-fix h1.logo img{ 
		margin:0 20px 0 0;
		max-height:50px;
	}
}
/*Above 1200px*/
/*@media screen and (min-width:1200px){
	.playlist-cover {
		height:360px;
	}
}
/*Above 1280px*/
/*@media screen and (min-width: 1280px){
	.slogan{
		padding: 0 20px;
	}
	.slogan strong{
		color:#fff;
		font-size:48px;
		line-height: 60px;
	}
}
.playlist{
	border:1px solid #ccc;
	border-radius:3px;
	padding:15px;
}
.playlist-cover {
	overflow-y:auto;
}
.playlist-list-item{
	margin:0 0 15px 0;
	cursor:pointer;
}
.playlist-list-item span,
.playlist-list-item a,
.playlist-list-item a:hover,
.playlist-list-item a:active,
.playlist-list-item a:focus{
	display:flex;
	color:#555;
	text-decoration:none;
	align-items: center;	
}
.playlist-list-item.active span,
.playlist-list-item.active a{
	color:#ed653e;	
}
.playlist-list-item a i,
.playlist-list-item span i{
	display:inline-block;
    margin: 5px 20px 5px 5px;
}
/*Above 1200px*/
/*@media screen and (min-width:1200px){
	.playlist-cover {
		height:360px;
	}
} */

/* new footer */


body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: #000;
}
.sb-font-25 {
  font-size: 18px;
}
.sb-btn {
  border-radius: 100px;
  background-color: #fff;
  color: #004367;
  padding: 10px 35px;
}
a{
  text-decoration: none;
}

.sb-foot-separate {
  width: 100%;
  height: 10px;
  display: block;
  background-color: #00aecd;
}
footer p {
  font-size: 25px;
}
footer .icon:hover{
  color: #00aecd;
}
footer {
  background-color: #004367;
  padding: 25px 48px;
  color: #ffffff;
}
footer h4 {
  font-size: 25px;
}
.sb-social {
  margin-top: 50px;
}
.sb-social a {
  margin-right: 20px;
}
footer .item {
  font-size: 18px;
  padding-bottom: 10px !important;
}
footer .ui.list {
  padding: 20px 20px !important;
  margin: 0;
  position: relative;
  margin-left: 40px;
  margin-top: 25px;
}
footer .ui.list:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #ffffff;
  left: 0;
  top: 0;
}
.fs-0-925{
  font-size: 17px !important;
  font-weight: 400;
}
.icon{
  color: #fff;
  font-size: 28px !important;
}

/* newheader */

body {
padding: 0;
margin: 0;
font-size: 18px;
line-height: 24px;
color: #000;
font-family: 'Oswald', sans-serif !important;
}
.sb-font-25 {
  font-size: 25px;
}
.sb-btn {
  border-radius: 100px;
  background-color: #fff;
  color: #004367;
  padding: 10px 35px;
}
.p-0{
  padding: 0 !important;
}
header {
  padding: 0 25px 0 50px;
  background: #fff;
}
.sb-logo {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.sb-search.ui.input input {
  background: #f2f2f2;
  border: none;
  border-radius: 100px;
  height: 45px;
  width: 426px;
}
.ui.icon.input > i.link.icon {
  color: #000;
  opacity: 1;
  font-size: 20px;
  padding-top: 6px;
  padding-right: 15px;
}
.hamburger .line {
  width: 35px;
  height: 4px;
  background-color: #000;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger {
  cursor: pointer;	
}
.hamburger.active .line:nth-child(2){
opacity: 0;
}
.hamburger.active .line:nth-child(1){
-webkit-transform: translateY(10px) rotate(45deg);
-ms-transform: translateY(10px) rotate(45deg);
-o-transform: translateY(10px) rotate(45deg);
transform: translateY(10px) rotate(45deg);
}

.hamburger.active .line:nth-child(3){
-webkit-transform: translateY(-10px) rotate(-45deg);
-ms-transform: translateY(-10px) rotate(-45deg);
-o-transform: translateY(-10px) rotate(-45deg);
transform: translateY(-10px) rotate(-45deg);
}
.sb-link {
  width: 200px;
  background-color: #00aecd;
  position: absolute;
  top: 70px;
  right: -220px;
  margin: 0;
  text-align: left;
  z-index: 99;
}
.sb-link.active {
  right: -12px;
}
.sb-link a {
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 12px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(200, 200, 200, 0.1);
}
.sb-link a:hover {
background-color: #004367;
}
.sb-link {
  transition: right 300ms ease-out;
  -webkit-transition: right 300ms ease-out;
}
.sb-link ul {
  padding: 0px;
  list-style-type: none;
  margin: 0;
}
.sb-menu {
display: inline-block;
margin-left: 20px;
}
.sb-right-menu {
display: flex !important;
align-items: center;
justify-content: flex-end;
}
img{
  width: 120px;
}
.sb-search{
  width: 58%;
}
.sb-search .search{
  font-size: 1.4rem !important;
  color: #000;
}
input:focus-visible {
  border: none !important;
}
/* // Old UI */

.ui.container, .ui.grid.container {
  width: 1216px!important;
}

/* new landing page  */
.fs-45{
    font-size: 45px;
}
.fs-49{
    font-size: 49px;
}
.sb-para{
    font-size: 20px;
    line-height: 1.4;
    padding: 30px 0;
    color: #d9ecf0;
}
.pt-50{
    padding-top: 50px;
}
.mt-20{
    margin-top: 20px
}
.py-32{
    padding: 32px 0;
}
.pt-60{
    padding-top: 60px;
}
.d-flex-jc{
    justify-content: end;
  }
  button{
      cursor: pointer;
  }
  .sb-color-white{
      color: #fff !important
  }
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
}
h1, h2, h3, h4, h5,
.ui.card>.content>.header, 
.ui.cards>.card>.content>.header {
    font-family: 'Oswald', sans-serif;
}
.sb-text-upper {
    text-transform: uppercase;
}
.sb-font {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.4;
    color: #e6eaeb;
}
.sb-font-45 {
    font-size: 45px;
}
.sb-se-title {
    color: #54b1ce;
    font-weight: 300;
    font-size: 48px;
    line-height: 1.4;
}
.sb-btn-default {
    border-radius: 50px;
    background-color: #fff;
    color: #00aecd;
    padding: 11px 31px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 11px 5px 0 #1b1c1d63 !important;
    border: none;
}
.sb-p-0 {
    padding: 0 !important;
}
.sb-mb-0 {
    margin-bottom: 0 !important;
}
/* // .sb-max-1920 {
//     max-width: 1920px;
//     margin: 0 auto !important;
// } */
.sb-btn-blue {
    background-color: #fff;
    color: #00aecd;
    box-shadow: 0 3px 4px 0 rgba(var(--rc-rgba-black),.19);
    border-radius: 1rem;
    padding: 15px 20px;
}
.sb-baner {
    background-image: url(../../../../../assets/images/title-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 107px 50px 279px;
    box-shadow: none;
}
.sb-baner p {
    margin: 47px 0 46px;
    color: #dff9fe;
}
.sb-baner h2 {
    font-size: 46px;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}
.sb-baner h1 {
    font-size: 48px;
    margin-bottom: 0;
    font-weight: 600;
}
/*banner end*/
/*course start*/
.sb-title h2 {
    position: relative;
    text-align: right;
    padding-right: 150px;   
    margin-top: -30px;    
}
.sb-title h2:before {
    content: '';
    position: absolute;
    border-bottom: 2px dashed #d4d4d5;
    width: 100%;
    left: 0;
    bottom: 2px;
}
.ui.card {
    background: #f2f2f2;
    padding: 25px;
    width: 80%;
    border-radius: 24px;
    margin: 0 auto;
    border: none !important;
    box-shadow: 0px 5px 5px 0 #1b1c1d63;
    margin-bottom: 10px;
}
.ui.card>.extra.sb-top-content {
    background-color: #adb9ca;
    border-radius: 10px !important;
    margin-bottom: 17px;
    min-height: 77px !important;
    position: relative;
}
.sb-top-content{
    position: absolute;
    right: 20px;
    border-radius: 92px;
    width: 60px;
    height: 56px;
    top: 28px;
}
.sb-top-content img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: absolute;
    right: 16px;
    top: 34px;
}
.ui.card>.content {
    border: none; 
}
.ui.c1.label {
    background-color: #f8cbad;
}
.ui.c2.label {
    background-color: #c5e0b4;
}
.ui.c3.label {
    background-color: #7f7f7f;
}
.ui.c4.label {
    background-color: #b4c7e7;
}
.ui.label {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}
.ui.card a, .ui.cards>.card a {
    border-radius: 100px;
}
.ui.card>.content>.header+.description {
    margin: 15px 0;
}
.sb-courses .sb-btn {
    background-color: #00aecd;
    color: #fff;
    margin-left: 65px;
}
.ui.card>.content p, 
.ui.cards>.card>.content p {
    margin: 0 0 0.5em;
    font-size: 14px;
}
.ui.card>.content>.header:not(.ui), 
.ui.cards>.card>.content>.header:not(.ui) {
    color: #004367;
    font-weight: 400;
    font-size: 19px;
    margin-top: 0;
    line-height: 1.2;
}
.slick-slider{
    padding: 0 107px;
}
.pr-40{
    padding-right: 40px;
}
/*course end*/

/*about start*/
.sb-about-bg {
    background-image: url(../../../../../assets/images/about-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 115px 45px 0;
    height: 933px;
    background-size: cover;
}
.sb-about-us h2 {
    color: #ffffff;
}
.sb-about-us .sb-btn {
    margin-bottom: 70px;
}
.sb-learn p {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.4;
    margin-top: 15px;
}
/*about end*/
/*partner start*/
.sb-partner{
    margin: 10px 0 50px 0;
}
.sb-partner img{
    width: 135px !important;
}
.ui.grid>.row.sb-h-center {
    align-items: center;
}
.ui.grid.sb-partner {
    padding: 35px 50px;
}
.pat1 {
    padding-top: 55px;
    margin-left: -50px;
}
.pat2 {
    padding-top: 110px;
}
.pat4 {
    position: absolute;
    right: 60px;
    top: -180px;
}
.pat5 {
    float: right;
}
/*partner end*/
.sb-baner h1 {
    font-size: 47px;
    margin-bottom: 0;
}
img{
    width: 100px;
}
.sb-btn-primry{
    margin-left: 149px;
    border-radius: 50px;
    color: #fff;
    background: #00aecd;
    padding: 11px 31px;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 11px 5px 0 #1b1c1d63 !important;
    border: none;
}
/* slick */
.slick-prev {
    left: 45px !important;
  }
  .slick-prev::before{
    line-height: 1.8 !important;
    color: #000 !important;
  }
  .slick-next {
    right: 55px !important;
  }
  .slick-next::before{
    line-height: 1.8 !important;
    color: #000 !important;
  }
  .slick-list{
      padding-bottom: 20px;
  }
  .d-flex{
      display: flex;
  }
  .d-flex-jc{
      justify-content: end;
  }
  .compact.menu{
      border: none;
      box-shadow: none;
  }
  .compact.menu .dropdown:hover{
    background: none !important;
    border: none;
}