<lib-event [libEventConfig]="libEventConfig"></lib-event>

<div class="sbt-fluid-content-bg">
  <div class="sb-g" [ngClass]="layoutConfiguration ? 'sbt-container sbt-page-content relative9' : 'stackable mt-30 mg-pad'">
    <div class="relative9" [ngClass]="FIRST_TO_PANEL_LAYOUT">
      <app-workspacesidebar></app-workspacesidebar>
    </div>
    <div [ngClass]="SECOND_TO_PANEL_LAYOUT" class="w-100">
      <div [ngClass]="layoutConfiguration ? 'sbt-page-content-area' : 'workspacesegment'">

        <!-- <sb-event-filter
          (filterChangeEvent)="getFilteredData($event)"
          *ngIf="filterConfig"
          [filterConfig]="filterConfig"
          [isSorting]="true"
          (sortingQuery)="sortData($event)">
        </sb-event-filter> -->

        <div *ngIf="eventList?.length > 0 && eventList != 'undefined'">
          <sb-event-list
            [list]="eventList"
            [layoutConfig]="layoutConfiguration"
            (eventDetailData)="navToEventDetail($event)">
          </sb-event-list>
        </div>

        <div *ngIf="eventList?.length === 0 || eventList === 'undefined'">
          <div class="no-content-container d-flex flex-jc-center relative9">
            <div class="my-48 p-16 w-100">
              <div class="d-flex flex-dc flex-jc-center flex-ai-center text-center">
                <div>
                  <img alt="{{title}}" src="./assets/images/group.svg" width="90px" height="90px">
                </div>
                <div tabindex="0" class="fmedium board-title pt-24 font-weight-bold">No Events Found</div>
                <div tabindex="0" *ngIf="showExploreContentButton && subTitle" class="fs-0-785 sub-title py-24">{{subTitle | interpolate:'{instance}': instance}}</div>
                <button tabindex="0" appTelemetryInteract [telemetryInteractEdata]="exploreMoreContentEdata" *ngIf="showExploreContentButton" type="button" id="browse"
                  class="sb-btn sb-btn-primary sb-btn-normal mb-8" (click)="handleEvent()">
                  Explore more content
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-browser-compatibility [showModal]="true"></app-browser-compatibility>
