<lib-event [libEventConfig]="libEventConfig"></lib-event>
<div class="sbt-fluid-content-bg">
  <div class="sb-g" [ngClass]="layoutConfiguration ? 'sbt-container sbt-page-content relative9' : 'stackable mt-30 mg-pad'">
    <div [ngClass]="SECOND_TO_PANEL_LAYOUT" class="w-100">
      <div [ngClass]="layoutConfiguration ? 'sbt-page-content-area' : 'workspacesegment'">
        <sb-event-filter
          (filterChangeEvent)="getFilteredData($event)"
          *ngIf="filterConfig"
          [filterConfig]="filterConfig"
          [isSorting]="true"
          (sortingQuery)="sortData($event)">
        </sb-event-filter>

        <div class="sb-table-container" *ngIf="EventListCount > 0">
          <table class="ui upForReviewTable table" *ngIf="EventListCount > 0">
            <thead>
              <tr>
                <th class="four wide UpReviewTableHeader">Webinar(s)</th>
                <th class="four wide UpReviewTableHeader">Last Updated</th>
                <th class="two wide UpReviewTableHeader">Status</th>
                <th class="two wide UpReviewTableHeader"></th>
              </tr>
            </thead>
            <tbody>
            <!-- Use slice to show only paginated items -->
              <tr *ngFor="let content of paginatedEventList" class="cursor-pointer">
                <td (click)="navToEventDetail(content)">
                  <h5 class="ui image header">
                    <img src="{{ content.appIcon || 'assets/images/default.png' | cdnprefixurl }}" class="ui tiny image UpReviewTinyImage">
                      <div class="content">
                        <div class="UpReviewHeader">{{ content.name | slice: 0: 30 }} <i *ngIf="content.name.length > 30">...</i></div>
                        <div class="UpReviewSubHeader">{{ content.primaryCategory }}</div>
                      </div>
                  </h5>
                </td>
                <td>
                  <h5 class="ui image header">
                    <div class="content">
                      <div class="UpReviewSubHeader">{{ content.lastUpdatedOn | fromNow }}</div>
                    </div>
                  </h5>
                </td>
                <td class="UpForReviewStatusOrange">{{ content.status }}</td>
                  <td>
                    <i *ngIf="!(content.pkgVersion && content.pkgVersion > 0 && (content.status === 'Review' || content.status === 'Draft'))"
                      class="trash large icon"
                      tabindex="0"
                      (click)="confirmDeleteEvent(content)">
                    </i>
                  </td>
              </tr>
            </tbody>
          </table>

          <!-- Pagination controls -->
          <div class="ui grid">
            <div class="two wide column"></div>
              <div class="ten wide column">
                <div class="pb-10" *ngIf="eventList && EventListCount > itemsPerPage">
                  <div class="ui pagination menu mt-10 right-floated p-0">
                    <a [ngClass]="{disabled:pager.currentPage===1 }" class="item " tabindex="0" (click)="navigateToPage(1)">First</a>
                    <a [ngClass]="{disabled:pager.currentPage===1 }" class="item " tabindex="0" (click)="navigateToPage(pager.currentPage - 1)">Previous</a>
                    <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" tabindex="0" (click)="navigateToPage(page)" class="item">{{page}}</a>
                    <a [ngClass]="{disabled:pager.currentPage===pager.totalPages}" tabindex="0" (click)="navigateToPage(pager.currentPage + 1)" class="item">Next</a>
                    <a [ngClass]="{disabled:pager.currentPage===pager.totalPages}" tabindex="0" (click)="navigateToPage(pager.totalPages)" class="item">Last</a>
                  </div>
                </div>
            </div>
          </div>


          <ng-template let-modal="modal" #modalTemplate>
            <div class="sb-modal sb-error">
              <div class="ui modal visible active small">
                <i class="icon close" (click)="modal.deny('denied')" tabindex="0"></i>
                
                <!-- Modal Header -->
                <div class="sb-modal-header">
                  {{ resourceService?.frmelmnts?.lbl?.deletecontent }}
                </div>
                
                <!-- Modal Content -->
                <div class="sb-modal-content">
                  <p [class.sb-color-gray-100]="showCollectionLoader">
                    {{ resourceService?.frmelmnts?.lbl?.deleteconfirm }}
                  </p>
                  <div class="py-30">
                    <div *ngIf="showCollectionLoader" class="sb-loader sb-gray-loader pb-20"></div>
                  </div>
                </div>

                <!-- Modal Actions -->
                <div class="sb-modal-actions flex-jc-space-between">
                  <div>
                    <button class="sb-btn sb-btn-normal sb-btn-outline-error mr-10" tabindex="0"
                    (click)="modal.deny('denied')" [class.fadInButton]="showCollectionLoader">
                    {{ resourceService?.frmelmnts?.btn?.no }}
                  </button>
                    <button class="sb-btn sb-btn-normal sb-btn-error ui disabled" tabindex="0"
                    (click)="deleteEvent(modal)" [class.fadInButton]="showCollectionLoader">
                    {{ resourceService?.frmelmnts?.btn?.yes }}
                  </button>
                  </div>
                  
                </div>
              </div>
            </div>
          </ng-template>
        </div>

        <!-- <div class="ui grid">
          <div class="two wide column"></div>
          <div class="ten wide column">
            <div class="pb-10">
              <pagination-controls
                (pageChange)="pageNumber = $event"
                (pageBoundsCorrection)="onPageBoundsCorrection($event)"
                *ngIf="list" class="pull-right">
              </pagination-controls>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
