<div class="ui stackable grid relative9 sbt-fluid-content-bg">
  <div class="two wide column pl-0 pr-0">
    <div class="sidebar py-24">
      <!-- <a [routerLink]="['course-stats']" routerLinkActive="active" appTelemetryInteract  [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="courseStatsEdata" >{{resourceService?.frmelmnts?.lbl?.dashBoardTitle}}</a> -->
      <a [routerLink]="['batches']" routerLinkActive="active" appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="courseBatchesEdata">{{resourceService?.frmelmnts?.lbl?.batches}}</a>
      <a [routerLink]="['certificates']" [class.active]="router.url.includes('/dashboard/certificates')" appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="courseCertificatesEdata" >{{resourceService?.frmelmnts?.lbl?.certificates}}</a>
      <a [routerLink]="['courseProgressExhaust']" [class.active]="router.url.includes('/dashboard/courseProgressExhaust')" appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" [telemetryInteractEdata]="courseProgressExhaustEdata" >{{resourceService?.frmelmnts?.lbl?.courseProgressExhaust}}</a>
      </div>
  </div>
  <div class="ten wide column">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div> 
