<div class="sb-pageSection" *ngIf="isContentCreator">
  <div class="sb-pageSection-header">
    <h4 class="sb-pageSection-title m-0">My Uploaded Content</h4>
    <span class="sb-pageSection-count sb-label sb-label-xs sb-label-warning ml-8">{{totalCount}}</span>
    <button class="sb-btn sb-btn-md sb-btn-primary sb-btn-normal ml-auto" routerLink="learnathon">Upload Content 
      <!-- <i class="plus icon"></i> -->
    </button>
  </div>
</div>
<hr class="sb-break-line my-24" />
<div class="sb-table-container" *ngIf="allContent.length > 0 && !showLoader && !noResult ">
  <!-- <table class="sb-table sb-table-fixed sb-table-hover sb-table-lg">
    <thead>
      <tr>
        <th>Content</th>
        <th>Status</th>
        <th>Preview</th>
      </tr>
    </thead>
    <tbody>
      <tr in-view-item class="UpForReviewListHover cursor-pointer" *ngFor="let content of allContent let i = index;" [id]="i" [data]="content"
      appTelemetryInteract [telemetryInteractObject]="{id:content.identifier,type:content.contentType,ver:content.pkgVersion ? content.pkgVersion.toString(): '1.0' }"
      [telemetryInteractEdata]="{id:'allcontent',type:'click',pageid:'AllContent'}">
        <td data-label="Content" (click)="contentClick(content)" tabindex="i">
            <div class="sb-media">
            <img src="{{content.appIcon || 'assets/images/default.png' | cdnprefixurl}}" alt="" class="sb-media-object mr-15">
            <div class="sb-media-body">
                <h6 class="media-heading">{{content.name | slice:0:30}}<i *ngIf="content.name.length > 30">...</i></h6>
                <p class="media-description">{{content.primaryCategory}}</p>
            </div>
            </div>
        </td>

        <td data-label="Status" class="UpForReviewStatusOrange">{{content.status}}</td>
        <td data-label="Preview" class="mr-auto" (click)="contentClick(content)" tabindex="i"><i class="search icon"></i></td>
      </tr>
    </tbody>
  </table> -->
</div>


<div class="sb-table-container" *ngIf="allContent.length > 0 && !showLoader && !noResult ">
  <table class="ui upForReviewTable table">
    <thead>
      <tr>
        <th class="eight wide UpReviewTableHeader">Content</th>
        <th class="four wide UpReviewTableHeader">Status</th>
        <th class="four wide UpReviewTableHeader">Preview</th>
      </tr>
    </thead>
    <tbody>
      <tr in-view-item class="UpForReviewListHover cursor-pointer" *ngFor="let content of allContent let i = index;" [id]="i" [data]="content"
      appTelemetryInteract [telemetryInteractObject]="{id:content.identifier,type:content.contentType,ver:content.pkgVersion ? content.pkgVersion.toString(): '1.0' }"
      [telemetryInteractEdata]="{id:'allcontent',type:'click',pageid:'AllContent'}">
        
      <td tabindex="0" (click)="contentClick(content)">
        <h5 class="ui image header">
          <img src="{{content.appIcon || 'assets/images/default.png' | cdnprefixurl}}" class="ui tiny image UpReviewTinyImage">
          <div class="content ">
            <div class="UpReviewHeader">{{content.name | slice:0:30}}
              <i *ngIf="content.name.length > 30">...</i>
            </div>
            <div class="UpReviewSubHeader">{{content.primaryCategory}}
            </div>
          </div>
        </h5>
      </td>
      <td class="UpForReviewStatusOrange">{{content.status}}</td>
      <td>
        <span (click)="contentClick(content)" tabindex="i">
          <i class="search icon" ></i>
        </span>
      </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- <div class="sb-pagination-container flex-jc-flex-end">
    <div class="sb-pagination">
        <a class="sb-item">First</a>
        <a class="sb-item">Previous</a>
        <a class="sb-item sb-item-active">1</a>
        <a class="sb-item">...</a>
        <a class="sb-item">10</a>
        <a class="sb-item">11</a>
        <a class="sb-item">12</a>
        <a class="sb-item">Next</a>
        <a class="sb-item">Last</a>
    </div>
</div> -->  
  
  <!-- <div *ngIf="noResult && !showLoader"> -->
    <!-- <app-no-result [data]="noResultMessage"></app-no-result> -->
  <!-- </div> -->

  <!-- <app-all-textbooks></app-all-textbooks> -->
  
  <!-- <table class="ui upForReviewTable table" *ngIf="allContent.length > 0 && !showLoader && !noResult "> 
    <thead>
      <tr>
        <th class="six wide UpReviewTableHeader">
            Content
        </th> -->
        <!-- <th class="four wide UpReviewTableHeader">
            Last Updated
        </th> -->
        <!-- <th class="two wide UpReviewTableHeader">
            Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr in-view-item class="UpForReviewListHover cursor-pointer" *ngFor="let content of allContent let i = index;" [id]="i" [data]="content"
      appTelemetryInteract [telemetryInteractObject]="{id:content.identifier,type:content.contentType,ver:content.pkgVersion ? content.pkgVersion.toString(): '1.0' }"
      [telemetryInteractEdata]="{id:'allcontent',type:'click',pageid:'AllContent'}">
      <td tabindex="0" (click)="contentClick(content)">
        <h5 class="ui image header">
          <img src="{{content.appIcon || 'assets/images/default.png' | cdnprefixurl}}" class="ui tiny image UpReviewTinyImage">
          <div class="content ">
            <div class="UpReviewHeader">{{content.name | slice:0:30}}
              <i *ngIf="content.name.length > 30">...</i>
            </div>
            <div class="UpReviewSubHeader">{{content.primaryCategory}}
            </div>
          </div>
        </h5>
      </td> -->
      <!-- <td>
        <h5 class="ui image header"> 
          <div class="content">
            <div class="UpReviewSubHeader">{{content.lastUpdatedOn | fromNow }}
            </div>
          </div>
        </h5>
      </td> -->
      <!-- <td class="UpForReviewStatusOrange">{{content.status}}</td>
      </tr>
    </tbody>
  </table> -->