@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;


html {
    --sbt-box-shadow-6px: 0.375rem 0.375rem 0.125rem 0 var(--sbt-box-shadow-black);
    --sbt-box-shadow-3px: 0.1875rem 0.1875rem 0.125rem 0 var(--sbt-box-shadow-black);
    --sbt-box-shadow: rgba(128, 167, 206, 1);
    --sbt-badge-text: var(--gray-800);
    --sb-linkmenu-bg-hover: var(--primary-color);
    --sb-sidebar-menu-border-bg: var(--primary-color);
    --sb-menu-item-hover: var(--primary-color);
    --sb-header-qrcode-btn: var(--primary-color);
    --sbt-filter-switcher-bg: var(--primary-theme);
    // html[data-theme='default'],html[data-mode='darkmode']
    --sbt-page-header-bg: var(--sbt-header-bg);
    --sbt-bradius: 0.125rem;
    --sbt-bradius-8: calc(var(--sbt-bradius) * 4);
    --sbt-bradius-16: calc(var(--sbt-bradius) * 8);
    --sbt-bradius-24: calc(var(--sbt-bradius) * 12);
    --sbt-bradius-32: calc(var(--sbt-bradius) * 16);
}