@use "@project-sunbird/sb-styles/assets/mixins/mixins" as *;

// adjust-hue
// transparentize (color, 0)
// darken ()
// lighten ()
// saturate (), desaturate
// red() green() blue()
// hue  // saturation
// lightness
// alpha

$primary-theme: #343A40;
$primary-theme-hsl: hue($primary-theme), saturation($primary-theme);
$primary-theme-rgb: red($primary-theme), green($primary-theme), blue($primary-theme);
$primary-theme-shade: darken(adjust-hue($primary-theme, -5), 10%);
$primary-theme-tint:  lighten(adjust-hue($primary-theme, 10), 20%);
$primary-theme-contrast: #ffffff;
$primary-theme-contrast-rgb: red($primary-theme-contrast), green($primary-theme-contrast), blue($primary-theme-contrast);

$primary-color: #6C757D;
$primary-hsl: hue($primary-color), saturation($primary-color);
$primary-color-rgb:  red($primary-color), green($primary-color), blue($primary-color);
$primary-color-shade: darken(adjust-hue($primary-color, -5), 10%);
$primary-color-tint: lighten(adjust-hue($primary-color, 5), 10%);
$primary-color-contrast: #fff;
$primary-color-contrast-rgb: red($primary-color-contrast), green($primary-color-contrast), blue($primary-color-contrast);
$primary-0: lighten(adjust-hue($primary-color, 25), 45%);
$primary-100: lighten(adjust-hue($primary-color, 20), 40%);
$primary-200: lighten(adjust-hue($primary-color, 15), 30%);
$primary-250: lighten(adjust-hue($primary-color, 10), 20%);
$primary-300: lighten(adjust-hue($primary-color, 5), 10%);
$primary-400: $primary-color;
$primary-600: darken(adjust-hue($primary-color, -5), 10%);
$primary-800: darken(adjust-hue($primary-color, -10), 20%);


html[data-color='mono1'] {
    --primary-theme: #{$primary-theme};
    --primary-theme-hsl: #{$primary-theme-hsl};
    --primary-theme-rgb: #{$primary-theme-rgb};
    --primary-theme-contrast: #{$primary-theme-contrast};
    --primary-theme-contrast-rgb: #{$primary-theme-contrast-rgb};
    --primary-theme-shade: #{$primary-theme-shade};
    --primary-theme-tint: #{$primary-theme-tint};

    --primary-color: #{$primary-color};
    --primary-hsl: #{$primary-hsl};
    --primary-color-rgb:  #{$primary-color-rgb};
    --primary-color-contrast: #{$primary-color-contrast};
    --primary-color-contrast-rgb: #{$primary-color-contrast-rgb};
    --primary-color-shade: #{$primary-color-shade};
    --primary-color-tint: #{$primary-color-tint};
    --primary-0: #{$primary-0};
    --primary-100: #{$primary-100};
    --primary-200: #{$primary-200};
    --primary-250: #{$primary-250};
    --primary-300: #{$primary-300};
    --primary-400: #{$primary-400};
    --primary-600: #{$primary-600};
    --primary-800: #{$primary-800};
  
    --secondary-color: var(--primary-600);
    --sbt-body-bg: var(--primary-0); //DEE2E6
    --sbt-body-bg2: var(--primary-100); //CED4DA
    --sbt-primary-bg: var(--primary-theme);
    --sbt-compt-bg: var(--sbt-body-bg);
    --sb-linkmenu-bg-hover: var(--primary-color);
    --sb-footer-bg: var(--primary-theme);
    --sbfaq-compt-bg:var(--sbt-body-bg);
    
    .sb-bg-white {
        --white:var(--sbt-body-bg2);
    }

}