.column-a {
    width: 50%;
    display: inline;
    float: left;
    }
    .column-b{
    width: 100%;
    display: inline-block;
    }
    .mar-40{
      margin: 35px 0px 0px 0px !important;
    }
    .my-0{background-color:#fff !important;}
    .my-10{border:none !important;}
    .font-align{
        padding-left: 15px;
          padding-top: 16px;
          padding-bottom: 16px;
          font-size: initial;
      }
      .marg-left{
        float:left;
      }

      .graph-border canvas{
        border: 1px solid #cecece !important;
      
      }

      .border14{
        border: 2px solid #cecece;
        padding: 0px 15px 11px;
      }
      
      // .export-btns{
      //   margin: 0 0 0 502px;
      // }
  
      .v-align-bottom{
        vertical-align: bottom;
      }