<div [formGroup]="personalInfoForm">
  <h5 tabindex="0" *ngIf="telemetryImpression" [appTelemetryImpression]="telemetryImpression"
    class="font-weight-bold text-center mb-24">
    {{resourceService.frmelmnts.lbl.registerOn | interpolate:'{instance}': instance}}
  </h5>

  <div class="required mb-16">
    <label for="signup-form-name" class="mb-8 font-weight-bold">
      {{resourceService.frmelmnts?.lbl?.name}}<span class="sb-color-red">*</span>
    </label>

    <input id="signup-form-name" class="sb-form-control"
      [ngClass]="{'orange-border': personalInfoForm.controls.name.touched && personalInfoForm.controls['name'].errors}"
      formControlName="name" type="text" name="name" aria-required="true"
      placeholder="{{resourceService.frmelmnts?.intxt?.enterfulname}}">

    <div class="sb-color-red pt-0" aria-describedby="signup-form-name" tabindex="0" aria-label="enter name"
      *ngIf="personalInfoForm.controls.name.touched && personalInfoForm.controls['name'].errors && personalInfoForm.controls['name'].errors.required">
      {{resourceService.frmelmnts?.lbl?.enterName}}</div>
    <div class="sb-color-red pt-0" aria-describedby="signup-form-name" tabindex="0" aria-label="enter a valid name"
      *ngIf="personalInfoForm.controls.name.touched && personalInfoForm.controls['name'].errors && personalInfoForm.controls['name'].errors.pattern">
      {{resourceService.frmelmnts.lbl.enterValidName}}</div>
  </div>

  <!-- Organization Field -->
  <div class="required mb-16">
    <label for="signup-form-organization" class="mb-8 font-weight-bold">
      {{resourceService.frmelmnts?.lbl?.organisation}}<span class="sb-color-red">*</span>
    </label>

    <input id="signup-form-organization" class="sb-form-control"
      [ngClass]="{'orange-border': personalInfoForm.controls.organisation.touched && personalInfoForm.controls['organisation'].errors}"
      formControlName="organisation" type="text" name="organisation" aria-required="true"
      placeholder="{{resourceService.frmelmnts?.lbl?.enterorganisation}}">

    <div class="sb-color-red pt-0" aria-describedby="signup-form-organization" tabindex="0"
      aria-label="enter organisation"
      *ngIf="personalInfoForm.controls.organisation.touched && personalInfoForm.controls['organisation'].errors && personalInfoForm.controls['organisation'].errors.required">
      {{resourceService.frmelmnts?.lbl?.enterOrganisation}}</div>
  </div>

  <!-- User Type Dropdown -->
  <div class="required mb-16">
    <label for="signup-form-user-type" class="font-weight-bold">
      {{resourceService.frmelmnts?.lbl?.userType}}<span class="sb-color-red">*</span>
    </label>
    
    <select id="signup-form-user-type" class="sb-form-control"
      [ngClass]="{'orange-border': personalInfoForm.controls.userType.touched && personalInfoForm.controls['userType'].errors}"
      formControlName="userType" aria-required="true" (change)="onUserTypeChange($event)">
      <option value="" disabled>{{resourceService.frmelmnts?.lbl?.selectUserType}}</option>
      <option *ngFor="let userType of userTypes" [value]="userType">{{userType}}</option>
    </select>
    
    <!-- Input field for 'other' user type -->
    <div *ngIf="isOtherUserType1" class="mt-16">
      <label for="other-user-type">{{resourceService.frmelmnts?.lbl?.enterOtherUserType}}<span class="sb-color-red">*</span></label>
      <input id="other-user-type" type="text" class="sb-form-control" formControlName="otherUserType" placeholder="{{resourceService.frmelmnts?.lbl?.enterOtherUserType}}">
      <!-- Error message for 'otherUserType' if it is required and not filled -->
      <div *ngIf="personalInfoForm.get('otherUserType').touched && personalInfoForm.get('otherUserType').hasError('required')" class="sb-color-red">
        {{resourceService.frmelmnts?.lbl?.enterOtherUserType}}
      </div>
    </div>
    
    <!-- Error message for 'userType' selection -->
    <div class="sb-color-red pt-0" aria-describedby="signup-form-user-type" tabindex="0"
      aria-label="select user type"
      *ngIf="personalInfoForm.controls.userType.touched && personalInfoForm.controls['userType'].errors?.required">
      {{resourceService.frmelmnts?.lbl?.selectUserType}}
    </div>
  </div>
  
  

  <div class="required mb-16">
    <label for="signup-form-user-designation" class="mb-8 font-weight-bold">
      {{resourceService.frmelmnts?.lbl?.enterDesignation}}<span class="sb-color-red">*</span>
    </label>
    <ng-select id="signup-form-user-designation" class="sb-form-control designation-select"
      [ngClass]="{'orange-border': personalInfoForm.controls.designation.touched && personalInfoForm.controls['designation'].errors}"
      [items]="designations" bindLabel="designation" formControlName="designation" [searchable]="true"
      (change)="onDesignationTypeChange($event)">
      <ng-template ng-label-tmp let-item="item">
        {{ item }}
      </ng-template>
      <ng-template ng-option-tmp let-item="item">
        {{ item === 'other' ? resourceService.frmelmnts?.lbl?.other : item }}
      </ng-template>
    </ng-select>
    <div class="sb-color-red pt-0" aria-describedby="signup-form-user-designation" tabindex="0"
      aria-label="select designation"
      *ngIf="personalInfoForm.controls.designation.touched && personalInfoForm.controls['designation'].errors && personalInfoForm.controls['designation'].errors.required">
      {{resourceService.frmelmnts?.lbl?.enterDesignation}}
    </div>
  </div>
  
  <div *ngIf="isOtherDesignationType" class="required mb-16">
    <label for="signup-form-user-type-other" class="mb-8 font-weight-bold">
      {{resourceService.frmelmnts?.lbl?.enterDesignation}}<span class="sb-color-red">*</span>
    </label>
    <input id="signup-form-user-type-other" class="sb-form-control" type="text" aria-required="true"
      formControlName="otherDesignation">
    <div class="sb-color-red pt-0" aria-describedby="signup-form-user-type-other" tabindex="0"
      aria-label="enter other user type"
      *ngIf="personalInfoForm.controls.otherDesignation.touched && personalInfoForm.controls.otherDesignation.errors && personalInfoForm.controls.otherDesignation.errors.required">
      {{resourceService.frmelmnts?.lbl?.enterDesignation}}
    </div>
  </div>
  

  <button [attr.aria-disabled]="!personalInfoForm.valid" [disabled]="!personalInfoForm.valid" type="button"
    appTelemetryInteract [telemetryInteractEdata]="submitInteractEdata" [telemetryInteractCdata]="telemetryCdata"
    [ngClass]="{'sb-btn-disabled':!personalInfoForm.valid, 'sb-btn-primary':personalInfoForm.valid}"
    class="sb-btn sb-btn-sm text-uppercase width-100 mt-16 flex-basis-1" tabindex="0" (click)="next()">
    <span>{{resourceService.frmelmnts.lbl.continue}}</span>
    <span class='arrow-icon pl-8'><i class="icon-svg icon-svg--xxs icon-back">
        <svg class="icon icon-svg--white">
          <use xlink:href="./assets/images/sprite.svg#arrow-long-right"></use>
        </svg></i></span>
  </button>
</div>