<!-- <div class="ui container px-60"> -->
<div class="sbt-page-content-area px-60">
  <!-- <div [ngClass]="layoutConfiguration ? 'sbt-page-content-area' : 'ui container'"> -->
  <div class="ui grid" *ngIf="noResult && tableData.length > 0">
    <!-- <div class="twelve wide column">
      <span
        >Number of contents created:&nbsp;<b>{{ tableData.length }}</b></span
      >
    </div> -->

    <div class="sb-notification-list p-8" tabindex="0">
      <div class="sb-notification-data d-flex flex-ai-center">
        <div class="ml-12 notification-content">
          <div class="title"><b>POINTS TO REMEMBER WHILE VOTING:</b></div>
          <div class="sub-title py-8">
            1. The voting process is simple, just click on the "vote for
            content", fill in your details, to vote for the entries you choose
          </div>
          <div class="sub-title py-8">
            2. You can vote once for one particular solution but vote across
            multiple solutions, you like
          </div>
          <div class="sub-title py-8">
            3. Your vote is significant in identifying the winning solution for
            the Learnathon, hence register your vote after seeing all the 51
            solutions
          </div>
        </div>
      </div>
    </div>

    <div class="twelve wide column">
      <p-table
        #dtOrg
        [value]="tableData"
        [columns]="cols"
        [paginator]="true"
        [rows]="10"
        [resizableColumns]="true"
      >
        <ng-template pTemplate="caption">
          <tr class="d-flex d-jc-space-between min-160">
            <td>
              <div class="ui small left icon input align-left">
                <i class="search icon"></i>
                <input
                  type="text"
                  pInputText
                  size="50"
                  placeholder="Search"
                  (input)="dtOrg.filterGlobal($event.target.value, 'contains')"
                  style="width: auto"
                  class="inp-50"
                />
              </div>
            </td>
            <td class="v-align-middle">
              <div class="ui-helper-clearfix export-btns">
                <button *ngIf ="exportAccess"
                  type="button"
                  style="float: right"
                  icon="fa fa-file"
                  class="
                    ui-button
                    ui-widget
                    ui-state-default
                    ui-corner-all
                    ui-button-text-icon-left
                  "
                  pbutton=""
                  iconPos="left"
                  label="Export"
                  (click)="dtOrg.exportCSV()"
                >
                  <span
                    aria-hidden="true"
                    class="ui-button-icon-left ui-clickable fa fa-file"
                  ></span
                  ><span class="ui-button-text ui-clickable">Export</span>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngIf="this.pageName == 'upForVote'">Action</th>
            <th
              *ngFor="let col of columns"
              pResizableColumn
              [style.width]="col.width"
              [pSortableColumn]="col.field"
              [pSortableColumnDisabled]="col.field"
            >
              {{ col.header }}
              <p-sortIcon
                [field]="col.field"
                ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order"
                ariaLabelAsc="Activate to sort in ascending order"
              ></p-sortIcon>
            </th>
            <!-- <th *ngIf="this.pageName == 'upForVote'">Action</th> -->
          </tr>
          <tr>
            <th *ngIf="this.pageName == 'upForVote'">&nbsp;</th>
            <th
              *ngFor="let col of columns"
              [ngSwitch]="col.field"
            >
              
              <!-- <p-multiSelect *ngSwitchCase="'UserName'" (onChange)="dtOrg.filter($event.value, col.field, 'in')" [options]="UserNameValues" defaultLabel="All"
                    appendTo="body"></p-multiSelect> -->
                    <!-- <p-multiSelect
                    *ngSwitchCase="'votes'"
                    (onChange)="dtOrg.filter($event.value, col.field, 'in')"
                    [options]=""
                    defaultLabel="All"
                    appendTo="body"
                  ></p-multiSelect> -->
                    <p-multiSelect
                *ngSwitchCase="'category'"
                (onChange)="dtOrg.filter($event.value, col.field, 'in')"
                [options]="CategoryValues"
                defaultLabel="All"
                appendTo="body"
              ></p-multiSelect>
              <p-multiSelect
                *ngSwitchCase="'subcategory'"
                (onChange)="dtOrg.filter($event.value, col.field, 'in')"
                [options]="SubCategoryValues"
                defaultLabel="All"
                appendTo="body"
              ></p-multiSelect>
            </th>
            <!-- <th *ngIf="this.pageName == 'upForVote'"></th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngIf="this.pageName == 'upForVote'">
              <button
                class="sb-btn sb-btn-normal sb-btn-primary"
                (click)="giveVote(rowData)"
              >
                Check Content
              </button>
              <!-- &nbsp; -->
            </td>
            <td *ngFor="let col of columns" class="ui-resizable-column">
              <!-- <button *ngIf="this.pageName == 'upForVote'"
              class="sb-btn sb-btn-normal sb-btn-primary"
              (click)="giveVote(rowData)"
            >
              Vote Here
            </button>  -->
              {{ rowData[col.field] }}
            </td>

           
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div *ngIf="noResult">
    <app-no-result [data]="noResultMessage"></app-no-result>
  </div>
</div>
