
<form [formGroup]="myForm" (ngSubmit)="submit()" class="sb-form">
	<div class="sb-field-group">
		<div class="sb-field">
			<!-- <input (change)="onFileSelected($event)" accept="image/svg+xml" name="snapshot"
				type="file"> -->
			<input
				formControlName="file"
				id="file"
				type="file"
				class="form-control"
				accept="image/svg+xml"
				(change)="onFileChange($event)">
		</div>
	</div>
	<div class="sb-field-group">
		<div class="sb-field">
			<label class="required">File Name</label>
			<input class="sb-form-control" formControlName="fileName" id="fileName" type="text">
			<!-- <input
            formControlName="fileName"
            id="fileName"
            type="text"
            class="form-control"> -->
		</div>
	</div>

	<button
		[ngClass]="{'sb-btn-disabled' : myForm.invalid}"
		class="sb-btn sb-btn-normal sb-btn-primary"
		id="btnUpload"
		(click)="createCertTemplate()"
		[disabled]="!myForm.valid">
		Upload
	</button>

	<!-- <button (click)="createCertTemplate()">Submit</button> -->

	<br>

	<div class="sb-field-group">
		<div class="sb-field">
			<a (click)="templateGuidePopup = true"
				class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn cert-temp-guideline"
				href="javascript:void(0);">
					<label class="required">Template guidelines</label>
			</a>
		</div>
	</div>

    <!-- <div class="form-group">
        <label for="fileName">Name</label>
        <input
            formControlName="fileName"
            id="fileName"
            type="text"
            class="form-control">
        <div *ngIf="f.fileName.touched && f.fileName.invalid" class="alert alert-danger">
            <div *ngIf="f.fileName.errors.required">Name is required.</div>
            <div *ngIf="f.fileName.errors.minlength">Name should be 3 character.</div>
        </div>
    </div> -->

    <!-- <div class="form-group">
        <label for="file">File</label>
        <input
            formControlName="file"
            id="file"
            type="file"
            class="form-control"
            (change)="onFileChange($event)">
        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
            <div *ngIf="f.file.errors.required">File is required.</div>
        </div>
    </div> -->

    <!-- <button (click)="createCertTemplate()">Submit</button> -->
</form>


<sui-modal
    [mustScroll]="true"
    [isClosable]="false"
    [transitionDuration]="0"
    [size]="'normal'"
    class="sb-modal"
    appBodyScroll
    [ngSwitch]="batchStep"
    #createBatchModel
    (dismissed)="discardModalFlag = !discardModalFlag"
    *ngIf='templateGuidePopup'>

    <!--Header-->
    <i class="close icon" (click)="templateGuidePopup = false"></i>
    <div class="sb-modal-header">
        Instructions
    </div>
    <!--/Header-->

    <!--Content-->
    <div class="sb-modal-content o-y-visible" style="line-height: 1.6">
        <b>Guidelines before uploading any template:</b><br><br>
        1. The dimension of the template should be 3300x2246 pixels.<br> 2. It is suggested to assign a
        unique name for the uploaded certificate template.<br> 3. The template should be in svg
        format.<br> 4. The certificate that will be issued to a user will have 3 placeholders/variables as
        shown below:<br><br>
        <img height="285px" width="481px" src="assets/images/default_template.svg"><br><br> 5. The
        location of
        &lt;recipientName&gt;, &lt;CourseName&gt; and &lt;IssuedDate&gt; will be fixed on the final certificate,
        only
        those will be replaced with actual values.<br> 6. You have the flexibility to change the background
        colour, logo and text keeping in mind that the placeholder's(&lt;recipientName&gt;, &lt;CourseName&gt; and
        &lt;IssuedDate&gt;) location, which is fixed.<br> 7. Considering the top left corner as (0,0)
        coordinate and bottom right corner as (3300, 2246), the &lt;recipientName&gt; will be centered on coordinate
        (1650,
        1220), &lt;CourseName&gt; on (1650, 1630) and &lt;IssuedDate&gt; on (1650, 1990) approximately.<br> 8. You can
        find the sample template <a class="sb-btn-link sb-btn-link-primary " target="blank" href="assets/images/default_template.svg">here</a>.
    </div>
    <!--/Content-->

    <!--Actions-->
    <div class="sb-modal-actions">
        <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="templateGuidePopup = false">Close</button>
    </div>
    <!--/Actions-->

</sui-modal>

<sui-modal
    [mustScroll]="true"
    [isClosable]="false"
    [transitionDuration]="0"
    [size]="'normal'"
    class="sb-modal"
    appBodyScroll
    [ngSwitch]="batchStep"
    #createBatchModel
    (dismissed)="discardModalFlag = !discardModalFlag"
    *ngIf='removeTemplatePopup'>

    <!--Header-->
    <i class="close icon" (click)="removeTemplatePopup = false"></i>
    <div class="sb-modal-header">
        Instructions
    </div>
    <!--/Header-->

    <!--Content-->
    <div class="sb-modal-content o-y-visible">
        Are you sure you want to remove Template!
    </div>
    <!--/Content-->

    <!--Actions-->
    <div class="sb-modal-actions">
        <button class="sb-btn sb-btn-normal sb-btn-primary">Yes</button>
        <button (click)="removeTemplatePopup = false" class="sb-btn sb-btn-normal sb-btn-outline-primary mr-8">No</button>
    </div>
    <!--/Actions-->

</sui-modal>

<sui-modal [mustScroll]="true" [isClosable]="false" [transitionDuration]="0" [size]="'normal'" class="sb-modal"
    appBodyScroll [ngSwitch]="batchStep" #createBatchModel (dismissed)="discardModalFlag = !discardModalFlag"
    *ngIf='sucesErrorPopup'>


    <!--Header-->
    <i class="close icon" (click)="closeSucesErrorPopup()"></i>
    <div class="sb-modal-header">
        Message
    </div>
    <!--/Header-->

    <!--Content-->
    <div class="sb-modal-content">
        <b>{{popupMsg}}</b>
    </div>
    <!--/Content-->

    <!--Actions-->
    <div class="sb-modal-actions">
        <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="closeSucesErrorPopup()">Close</button>
    </div>
    <!--/Actions-->
</sui-modal>