.cert-temp {
    margin: 0 2px 32px 0!important
 }

 .sb-card .sb-card-title{
     height: 17px !important;
 }

 .cert-temp-guideline{
     margin-top: 10px;
     padding-left: 5px;
 }
 .sb-modal-content{
     font-size: 14px !important;
 }
 .sb-btn-link-primary{
    padding: 0 !important
}
.sb-btn-link-primary label{
    color: #024f9d;
    cursor: pointer;
}
.sb-btn-link-primary:hover{
    background: none  !important;
}