/* content upload css start here */
.sbt-container1{
    width: calc(100% - 4%);
    padding: 74px !important;
    margin: 0 auto;
    padding-top: 1.75rem;
    border-radius: 2.5rem 2.5rem 0 0;
    background-color: #fff;
    z-index: 8;
}
.mt-20{
    margin-top: 20px;
}
.sb-textbox{
font-size: 0.75rem; 
min-height: 2.5rem;
border: 0;
outline: 0;
padding: 0.25rem 5.5rem 0.25rem 2.5rem;
border-radius: 1.75rem;
line-height: normal;
 background: #FFF;
color: #545454;
width: 100%;
}

