<div class="">
  <div class="sb-g sbt-container sbt-page-content">
    <div class="sb-g-col-xs-12 sb-g-col-md-12 sb-g-col-lg-12 sb-g-col-xxxl-16">
      <div class="home-container">
        <div class="sb-library-cards relative9">
          <div>
            <div class="" tabindex="0">

              <div class="sbt-container1">
                <div class="w-61">
                  <div class="preference">
                    <p class="header font-weight-bold mb-8 up-title">
                      Solution submission form
                    </p>
                    <p class="para-tit">{{resourceService.frmelmnts.label.guidelines}}
                      <a download href="./document/Learnathon_Guidelines_V2.pdf">{{resourceService.frmelemnts.label.guidelinesfile}}</a>
                    </p>
                      <!-- <p>
                      <span class="mr-24 up-sb-title">
                        NULP for building India's largest urban learning
                          community and to curate and collate the best content on
                          the platform.
                      </span>
                    </p> -->
                  </div>
                  <!-- <ng-container *ngIf="formFieldProperties"> -->
    
                  <!-- <sb-form (initialize)="outputData($event)" (statusChanges)="onStatusChanges($event)" (valueChanges)="valueChanges($event)"></sb-form> -->
                  <!-- <sb-dynamic-form
                    *ngIf="formFieldProperties"
                    [config]="formFieldProperties.fields"
                    (valueChanges)="valueChanges($event)"
                    (statusChanges)="onStatusChanges($event)"
                  >
                  </sb-dynamic-form> -->
  
                  
                  <form class="sb-form">
                 <div class="mt-20u flex-side">
                  <div class="inp-title">{{resourceService.frmelmnts.label.titleOfSol}}<span class="mr-8 sb-color-red"> * </span></div>
                  <input placeholder="{{resourceService.frmelmnts.label.titleOfSol}}" class="sb-textbox78" #title type="text" (input)="onTitleChange(title.value)" />
                 </div>
                 <div class="mt-20u flex-side">
                  <div class="inp-title">{{resourceService.frmelmnts.lbl.email}}<span class="mr-8 sb-color-red"> * </span></div>
                  <input placeholder="{{resourceService.frmelmnts.lbl.validEmail}}" class="sb-textbox78" #userEmail type="email" (input)="onEmailChange(userEmail.value)" email="true"/>
                 </div>
                 <div class="mt-20u flex-side">
                  <div class="inp-title">{{resourceService.frmelmnts.lbl.phoneNumber}}<span class="mr-8 sb-color-red"> * </span></div>
                  <input placeholder="{{resourceService.frmelmnts.lbl.validPhone}}" class="sb-textbox78" #userPhone type="number" (input)="onMobileChange(userPhone.value)"/>
                 </div>
    
                 <div class="select-holder9">
                 <div *ngFor="let field of formFieldOptions">
                  <div class="required sb-field-form-group"
                    *ngIf="field.code === 'board' && allowedFields.includes(field.code)">
                    <label class="inp-title">{{resourceService.frmelmnts.lbl.theme}}
                      <span class="mr-8 sb-color-red" *ngIf="field.required"> * </span>
                    </label>
                    <div class="sb-field">
                      <label class="select-box">
                        <sui-select id={{field.code}} [isSearchable]="false" class="selection sb-form-control"
                          [(ngModel)]="selectedOption[field.code]" [options]="options" 
                          (selectedOptionChange)="selectedTheme($event, field.code)" placeholder="{{resourceService.frmelmnts.lbl.theme}}"
                          (ngModelChange)="enableSubmitButton()" name={{field.code}}>
                          
                          <sui-select-option *ngFor="let option of field.range | sortBy:'name':'asc'" tabindex="0"
                            [value]="option.name | interpolate: 'CBSE': 'CBSE/NCERT'"></sui-select-option>
                        </sui-select>
                      </label>
                    </div>
                  </div>
  
                  <div class="sb-field-form-group mt-6" *ngIf="field.code == 'medium' && allowedFields.includes(field.code)">
                    <label class="inp-title">{{resourceService.frmelmnts.lbl.subtheme}}
                      <span class="mr-8 sb-color-red" *ngIf="field.required"> * </span>
                    </label>
                    <div class="sb-field">
                      <label class="select-box">
                        <sui-select id={{field.code}} [isSearchable]="false" class="selection sb-form-control"
                          [(ngModel)]="selectedOption[field.code]" [options]="options" placeholder="{{resourceService.frmelmnts.lbl.subtheme}}"
                          (selectedOptionChange)="selectedSubTheme($event, field.code)"
                          (ngModelChange)="enableSubmitButton()" name={{field.code}} >
                          <sui-select-option *ngFor="let option of selectedSubThemes" tabindex="0" [value]="option.name">
                          </sui-select-option>
                        </sui-select>
                        <!-- <sui-select id={{field.code}} [isSearchable]="false" class="selection sb-form-control"
                          [(ngModel)]="selectedOption[field.code]" [options]="options"
                          (ngModelChange)="enableSubmitButton()" name={{field.code}} 
                          *ngIf="field.code !== 'gradeLevel'">
                          <sui-select-option *ngFor="let option of field.range | sortBy:'name':'asc'" tabindex="0"
                            [value]="option.name"></sui-select-option>
                        </sui-select> -->
                      </label>
                    </div>
                  </div>
                </div>
                </div>
                <div class="mt-20u flex-side" *ngIf="isOtherCategory">
                  <div class="inp-title">{{resourceService.frmelmnts.label.specify}}<span class="mr-8 sb-color-red"> * </span></div>
                  <input placeholder="{{resourceService.frmelmnts.label.specify}}" class="sb-textbox78" #othersubcategory type="text" (input)="onSubCategoryChange(othersubcategory.value)" />
                 </div>
                    <div class="flex-side mt-20u mt--17">
                      <div class="inp-title">{{resourceService.frmelmnts.label.uploadProposal}}<span class="mr-8 sb-color-red"> * </span></div>
                      <div class="select-holder file-holder">
                        <div class="" *ngIf="fileUpload">
                          <input type="file" class="file-upload" (change)="onUpload($event)" /> <!-- file upload-->
                        </div>
                        <div class="inp-title">{{resourceService.frmelmnts.label.fileformats}}</div>
                        <div class="" *ngIf="!fileUpload">
                          <input #link type="text" class="file-upload" (input)="onLinkChange(link.value)" placeholder="Enter youtube link"/>
                        </div>
                      </div>
                    </div>
                  <div class="input-commet">({{resourceService.frmelemnts.label.uploadProposaldetail}})
                  </div>
                  <!-- <button (click)="onUpload()">Upload File</button> -->
                  <!-- </ng-container> -->
                  
                  <div class="btn-end">
                    <button
                    (click)="onSubmit()"
                    class="sb-btn sb-btn1 sb-btn-primary sb-btn-border"
                  >
                  {{resourceService.frmelmnts.btn.submit}}
                  </button>
                  </div>
                </form>
                </div>
           
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- For form submission confirmation -->
<sui-modal *ngIf="showSmallModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'"
  class="sb-modal " appBodyScroll (dismissed)="showSmallModal = !showSmallModal" #modal>
  <div class="sb-modal-header">
    {{resourceService.frmelmnts.label.plsconfirm}}
  </div>
  <div class="sb-modal-content">
    {{resourceService.frmelmnts.label.submitmsg}}
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="onSubmitConfirm(true)">
      {{resourceService.frmelmnts.btn.yes}}
    </button>
    <button class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="onSubmitConfirm(false)">
      {{resourceService.frmelmnts.btn.no}}
    </button>
  </div>
</sui-modal>
<!-- For showing form validation error messages -->
<sui-modal *ngIf="showCenterAlignedModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'small'" class="sb-modal sb-modal-center" appBodyScroll
  (dismissed)="showSuccessModalCenter = !showSuccessModalCenter" #modal>
  <div class="sb-modal-header">
    {{modalHeader}}
  </div>
  <div class="sb-modal-content">
    {{formInvalidMessage}}
  </div>
  <div class="sb-modal-actions">
    <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="showCenterAlignedModal = !showCenterAlignedModal">
      {{resourceService.frmelmnts.btn.ok}}
    </button>
  </div>
</sui-modal>