/* content upload css start here */
.sbt-container1{
    width: calc(100% - 4%);
    padding: 50px 74px !important;
    margin: 0 auto;
    border-radius: 2.5rem 2.5rem 0 0;
    background-color: #fff;
    z-index: 8;
    margin-bottom: 30px;
    box-shadow: 0.375rem 0.375rem 0.125rem 0 rgba(0, 0, 0, 0.1);
}
.mt-20u{
    margin-top: 8px;
}
.sb-textbox78{
    font-size: 12px; 
    min-height: 2.5rem;
    border: 0;
    outline: 0;
    padding: 8px 12px;
    border-radius: 7px;
    line-height: normal;
    background: #FFF;
    color: #9f9999;
    width: 48.5%;
    border: 1px solid rgb(175, 171, 171);
}
.sb-button{
    padding: 0.5rem 2rem !important;
    border-radius: 0.375rem !important;
}
.select-holder{
    display: flex !important;
    gap: 50px !important;
    margin-bottom: 40px 0 !important;
}
.sb-btn1{
    padding: 16px 2.5rem !important;
    border-radius: 0.375rem !important;
}
.select-box{
    padding: 0px !important;
    background-color: #fff;
    border-radius: 7px;
    cursor: pointer;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    // box-shadow: 0.375rem 0.375rem 0.125rem 0 rgb(0 0 0 / 10%);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border: 1px solid #afabab;
    font-size: 10px;
    font-weight: 500;
    width: 300px !important;
}
.up-title{
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 16px !important;
}
.up-sb-title{
    margin-top: 16px;
    margin-bottom: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    text-align: justify;
    letter-spacing: 0.01em;
}
.inp-title{
    font-family: "Roboto";
    font-style: normal;
    font-size: 12px;
    line-height: 170%;
    text-align: justify;
    letter-spacing: 0.01em;
    font-weight: 500;
    padding: 0px !important;
    margin: 0px !important;
}
// .mt--17{
//     margin-top: -19px !important;
// }
// .mt-6{
//  margin-top: -10px !important;
// }
.file-holder{
    border: 1px solid #afabab;
    padding: 5px;
    // box-shadow: 0.375rem 0.375rem 0.125rem 0 rgb(0 0 0 / 10%);
    border-radius: 7px;
    display: inline-block !important;
}
.select-holder9{
    display: -webkit-box !important;
    display: flex !important;
    /* gap: 50px !important; */
    margin: 13px 0 0 0 !important;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 48.5%;
}
.btn-end{
    display: flex;
    justify-content: center;
    width: 48.5%;
}
.file-upload{
    font-size: 10px !important;
}
.input-commet{
    font-size: 10px !important;
    color: red !important;
    font-style: italic;
}
.para-tit{
    font-size: 14px !important;
    font-weight: 500 !important;
}
.select-box sui-select {
    border: none;
}

@media (max-width:490px) {
    
    .sb-textbox78{
        width: 128% !important;
    }
    .select-box{
        width: 207px !important;
    }
}