@import "variables";
@import "mixins/mixins";
@import "pages/mat-modal";

.create-group-title {
  font-size: calculateRem(16px);
  font-weight: bold;
}
.mat-dialog-title {
  background: #065872 !important;
}
.sb-btn-primary {
  background: #065872 !important;
}
