<app-modal-wrapper  [config]="{disableClose: true, size: 'medium',panelClass: 'material-modal'}" (dismiss)="closeModal()" #modal>
  <ng-template sbModalContent>
    <div class="sb-mat__modal">
      <div class="mat-dialog-title">
        <div class="modal-title">
        <div class="sb-modal-header title" >{{memberActionData?.title}}</div>
        </div>
        <div class="dismiss-modal">
        <button aria-label="close dialog" mat-dialog-close class="close-btn" (dismiss)="closeModel()"><i class="fa fa-close"></i></button>
        </div>
      </div>
      <mat-dialog-content>
        <div class="sb-mat__modal__content">
          <p tabindex="0">{{memberActionData?.description}}</p>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions class="sb-mat__modal__actions">
        <button class="sb-btn sb-btn-normal sb-btn-primary" tabindex="0"
        [ngClass]="{'sb-btn-error': memberActionData?.theme === 'error'}"
        (click)="performAction()">{{memberActionData?.buttonText}}</button>
      </mat-dialog-actions>
    </div>
  </ng-template>
</app-modal-wrapper>
