body .ui-datepicker table td {
    padding: 0.2em !important;
}
body .ui-button {
    font-size: 15px !important;
}
.my-13 {
    margin-top: 13px !important;
}
::placeholder {
    font-size: 12px;
  }

  // .mar-31 button{
  //   margin: 40px 0px 0px 0px !important;
  // }
  .marg-left{
    float:left;
  }